@tailwind base;
@tailwind components;
@tailwind utilities;



.login_container{
    background-image: url("/background.avif");
    background-size: cover;
    background-repeat: no-repeat;
    
    
    
}
